<ul class="country-list">
    {{#each this}}
    <li class="country-list-item">
        <img class="country-img" src="{{flag}}" alt="Флаг страны" width="45" height="30">
        <p class="country-name">{{name}}</p>
    </li>
    {{/each}}
</ul>